#mybo_head h1 {
border-bottom: 1px solid #eef;
font-size: 37px;
padding: 10px 10px 10px 10px;
margin: 0;
background: #fff;
color: #666;
}

#mybo_head h1 .bo_my {
color: #fd5;
}

.bo_my {
color: #db3;
font-weight: bold;
}

.bo_mybo {
color: #666;
font-weight: bold;
}

#mybo_head h2 {
margin: 20px 0px 5px 12px;
padding: 1px;
border-bottom: 1px solid #eef;
font-size: 25px;
display:none;
}

#mybo_head h3 {
color: #666;
}

#mybo_head h4 {
color: #666;
}

ul#bo_mainmenu {
height: 31px;
font-size: 15px;
list-style: none;
list-style-type: none;
margin: 0px 0px 0px 0px;
padding: 0;
border-bottom: 1px solid #eef;
background: #fff;
}

ul#bo_mainmenu li {
float: left;
padding: 0;
margin: 0;
font-size: 17px;
border-right: 1px solid #eef;
line-height: 20px;
}

ul#bo_mainmenu li a {
text-decoration: none;
display: block;
width: auto;
padding: 6px 20px 5px 20px;
font-weight: bold;
color: #666;
}

ul#bo_mainmenu li a:hover {
background: #fe8;
}

ul#bo_mainmenu li a.bo_mainmenu_active {
background: #fff7e7;
}

/* Submenu */

#myblitzortung ul#bo_menu {
border-top: 0px solid #ddd;
border-bottom: 1px solid #ddd;
margin: -10px -10px 20px -15px;
padding: 5px 0 5px 20px;
font-size: 14px;
background: #fffaf5;
list-style-image: none;
list-style-type: none;
}

#myblitzortung ul#bo_menu:after {
content: "."; 
display: block; 
height: 0; 
clear: both; 
visibility: hidden;
}

#myblitzortung ul#bo_menu li {
float: left;
margin-right: 60px;
}

#myblitzortung ul#bo_menu a {
font-weight: bold;
color: #f80;
border-bottom: none;
text-decoration:none;
}

#myblitzortung ul#bo_menu a:hover {
text-decoration: underline;
}

#myblitzortung ul#bo_menu a.bo_navi_active {
color: red;
font-weight: bolder;
}


/* Main */
#myblitzortung {
margin: 10px 10px 10px 15px;
}

#myblitzortung a, 
#myblitzortung a:visited{
color: blue;
}

#myblitzortung legend {
border: 1px solid #e4e4e4;
padding: 1px 5px;
background: #ffffff;
font-weight: bold;
font-size: 12px;
}

#myblitzortung fieldset {
font-size: 14px;
margin: 18px 2px 8px 0px;
max-width: 680px;
background: #f9f9f9;
border: 1px solid #e4e4e4;
font-size: 12px;
padding: 3px 5px;
}

#myblitzortung label {
cursor: pointer;
}

#myblitzortung p{
font-size: 12px;
}

#myblitzortung ul {
list-style-image: none;
font-size: 12px;
}

#myblitzortung  h4 {
margin-bottom: 5px;
}

#myblitzortung #bo_footer {
color: #999;
font-size: 10px;
border-top: 1px solid #ddd;
margin: 20px 0 0 0;
padding-top: 3px;
}

#myblitzortung #bo_copyright a,
#myblitzortung #bo_copyright_extra a {
color: #99c;
} 


#myblitzortung #bo_copyright, 
#myblitzortung #bo_copyright_extra,
#myblitzortung #bo_copyright_own {
text-align:center;
margin: 0 150px;
}


#myblitzortung #bo_copyright {
font-weight: bold;
}

#myblitzortung #bo_copyright_extra a {
text-decoration: none;
font-weight: bold;
}

#myblitzortung #bo_copyright_logo {
float: right;
height: 50px;
margin: 5px;
padding-bottom: 10px;
}

#myblitzortung #bo_login_link {
float: left;
}

#myblitzortung #bo_lang_links {
position: relative;
float: left;
clear: left;
}

#myblitzortung #bo_lang_links .bo_flag {
border:1px solid white;
padding: 1px;
position:relative;
top: 4px;
}

#myblitzortung #bo_lang_links strong .bo_flag {
border:1px solid #88f;
background: #ccf;
}

#myblitzortung .bo_form_text {
display: block;
margin: 5px 12px 5px 2px;
}


#myblitzortung .bo_descr {
font-weight: bold;
font-size: 12px;
}

#myblitzortung .bo_value {
font-weight: normal;
font-size: 12px;
}

#myblitzortung .bo_map_footer,
#myblitzortung .bo_map_header {
font-size: 11px;
color: #666;
}

#myblitzortung .bo_map_header {
margin: 0px 2px 4px 2px;
padding-top:8px;
}

/*** Raw-Signals ***/

#myblitzortung .bo_sig_navi {
width: 795px;
text-align: center;
margin: 20px 0 5px 10px;
font-size: 11px;
height: 20px;
}

#myblitzortung .bo_sig_navi a {
padding: 0 5px;
color: #999;
font-weight: bold;
}

#myblitzortung .bo_sig_navi a.bo_sig_prev {
display: block;
float: left;
}

#myblitzortung .bo_sig_navi a.bo_sig_next {
display: block;
float: right;
}

#myblitzortung .bo_sig_table {
border-top: 1px solid #ccd;
margin-left: 10px;
border-collapse: collapse;
width: 560px;
}

#myblitzortung .bo_sig_table_spectrum {
width: 800px;
}

#myblitzortung .bo_sig_table td {
background: #fff;
vertical-align: top;
padding: 2px 5px;
}

#myblitzortung .bo_sig_table td.bo_sig_table_time {
font-size: 12px;
border-bottom: 1px dotted #eee;
height: 21px;
}

#myblitzortung .bo_sig_table td.bo_sig_table_time a{
color: #666;
font-weight: bold;
}

#myblitzortung .bo_sig_table td.bo_sig_table_strikeinfo, 
#myblitzortung .bo_sig_table td.bo_sig_table_graph {
border-bottom: 1px solid #eee;
}

#myblitzortung .bo_sig_table td.bo_sig_table_graph {
text-align:center;
vertical-align:middle;
font-size:11px;
}

#myblitzortung td.bo_sig_table_strikeinfo {
padding-left: 10px;
}


#myblitzortung .bo_sig_table_strikeinfo, 
#myblitzortung .bo_sig_table_strikeinfo li {
font-size: 12px;
color: #666;
}

#myblitzortung td.bo_sig_table_stations {
font-size: 10px;
background: #fffff0;
}

#myblitzortung .bo_sig_table_stations h5 {
font-size:11px;
text-decoration:underline;
color: #000;
}

#myblitzortung .bo_sig_table_head {
font-weight: bold;
}

#myblitzortung .bo_sig_table_head td {
background: #e8e8e8;
}

#myblitzortung .bo_sig_table td ul {
list-style: none;
margin: 0 0 3px 0;
padding: 0;
}

#myblitzortung .bo_sig_table td ul li {
display: inline-block;
width: 160px;
margin: 2px 0px;
padding: 0;
line-height: 9px;
white-space: nowrap;
text-align:left;
}

#myblitzortung .bo_sig_table td ul li .bo_value,
#myblitzortung .bo_sig_table td ul li .bo_descr {
font-size:11px;
}

#myblitzortung .bo_archive_station_dist {
border-collapse: collapse;
margin-bottom: 15px;
border:1px solid #ddd;
}

#myblitzortung .bo_archive_station_dist td {
background: transparent;
}

#myblitzortung .bo_archive_station_dist th {
border:1px solid #ddd;
}

#myblitzortung #bo_arch_map_img,
#myblitzortung #bo_arch_map_img_station,
#myblitzortung #bo_arch_map_nodata {
border: 1px solid #aaa;
}

#myblitzortung #bo_arch_map_img,
#myblitzortung #bo_arch_map_noimg,
#myblitzortung .bo_graph_img {
background-repeat:no-repeat;
background-position:center;
background-color:#fff;
}

#myblitzortung #bo_ani_loading_white,
#myblitzortung #bo_arch_map_nodata_white {
width:100%;
height:100%;
background:#ccc;
filter:alpha(opacity=50); 
-moz-opacity: 0.50; 
opacity: 0.50;
}

#myblitzortung #bo_ani_loading_text,
#myblitzortung #bo_arch_map_nodata_text {
width:100%;
text-align:center;
padding-top:30%;
}

#myblitzortung #bo_ani_loading_text p,
#myblitzortung #bo_arch_map_nodata_text  p {
font-size: 14px;
font-weight: bold;
color: #900;
border: 3px solid red;
background:#eee;
display:inline;
padding: 20px 40px;
filter:alpha(opacity=70); 
-moz-opacity: 0.70; 
opacity: 0.70;
}

/*** Google Strike Map ***/
#myblitzortung .bo_map {
width:790px !important; 
height:800px !important; 
border: 1px solid #ccc;
}


#myblitzortung #bo_map_more, 
#myblitzortung #bo_map_reload {
float: right;
margin: -3px 3px 0 0;
}

#myblitzortung fieldset.bo_map_options {
width: 780px;
max-width: none;
}

#myblitzortung #bo_map_more_container {
width: auto;
}

#myblitzortung #bo_map_more_container .bo_input_container {
padding-left: 170px;
}

#myblitzortung #bo_map_more_container .bo_input_container,
#myblitzortung .bo_arch_strikes_form .bo_input_container {
border-top: 1px dotted #e4e4e4;
padding-top:8px;
}

#myblitzortung #bo_map_more_container .bo_form_descr {
width: 160px;
/* display: inline-block;*/
float: left;
clear: left;
margin: 0px 0px 8px -168px;
padding-top:6px;
}

#myblitzortung #bo_map_timerange select{
font-size: 10px;
}

/*** Archive ***/

#myblitzortung .bo_map_archive {
width:550px; 
height:400px; 
border: 1px solid #ccc;
margin-left: 10px;
}

#myblitzortung .bo_archive_fieldset {
width: 550px;
}

#myblitzortung .bo_archiv_map_infowindow ul {
list-style: none;
margin: 0 0 10px 0;
padding: 0;
}

#myblitzortung .bo_archiv_map_infowindow ul li .bo_value, #myblitzortung .bo_archiv_map_infowindow ul li .bo_descr {
line-height: 9px;
font-size: 10px;
}

#myblitzortung .bo_archive_fieldset input {
width: 60px;
display: inline;
}

#myblitzortung #bo_archive_maps_submit,
#myblitzortung #bo_archive_maps_animation {
float: right;
}

#myblitzortung .bo_arch_map_links {
font-size: 11px;
text-align:center;
padding: 4px 10px 3px 10px;
margin: 0 0px 0px 0px;
background: #eee;
border: 1px solid #bbb;
border-bottom: 0;
}

#myblitzortung .bo_arch_map_links a {
padding: 0 10px;
text-decoration: none;
color: #77f;
font-weight: bold;
}

#myblitzortung #bo_arch_maps #bo_arch_strikes_select_map {
margin-right: 20px;
}

#myblitzortung input#bo_archive_time_from, #myblitzortung input#bo_archive_time_to {
width: 130px;
}

#myblitzortung p.bo_enter_time_hint {
width: 550px;
}

/*** Archive densities ***/
#myblitzortung #bo_archive_density_yearmonth_container {
border-top: 1px dotted #e4e4e4;
text-align: center;
margin: 5px 0 1px 0;
padding: 5px 0 0 0;
font-size: 13px;
}
#myblitzortung #bo_dens_maps select {
margin-right: 20px;
max-width: 190px;
}

#myblitzortung #bo_archive_density_submit {
float: right;
margin: -3px 3px 0 0;
}

#myblitzortung #bo_archive_density_yearmonth_container a {
text-decoration: none;
}

#myblitzortung #bo_archive_density_yearmonth_container .bo_archive_density_monthurl {
display: inline-block;
padding: 0 5px 0 5px;
}

#myblitzortung .bo_dens_map_toggle {
}

#myblitzortung a.bo_dens_map_toggle_active {
color:red;
}

#myblitzortung .bo_archive_density_active {
font-weight: bold;
}

#myblitzortung .bo_archive_not_evaluated {
font-weight: bold;
color: red;
}

/*** login ***/

#myblitzortung .bo_login_fieldset {
width: 200px;
margin: 0;
}

#myblitzortung .bo_info_fail,
#myblitzortung .bo_info_ok {
width: 400px;
background: #fff;
margin: 20px 0;
text-align:center;
font-weight: bold;
font-size: 15px;
}

#myblitzortung .bo_info_fail {
border: 1px solid red;
}

#myblitzortung .bo_info_ok {
border: 1px solid green;
}


#myblitzortung .bo_table {
border-collapse: collapse;
margin: 0 0 0 10px;
}

#myblitzortung .bo_table td, .bo_table th {
border: 1px solid #999;
padding: 2px 10px;
font-size: 13px;
}

#myblitzortung .bo_table th {
background: #e7e7e7;
}

#myblitzortung .bo_table td {
background: #f3f3f3;
}

#myblitzortung .bo_table a {
font-weight: bold;
text-decoration: none;
}

#myblitzortung .bo_form_descr {
font-weight: bold;
color: #666;
white-space:nowrap;
}

#myblitzortung .bo_my_logo {
width: 300px;
float: right;
display: block;
margin: 1px 0px 5px 5px;
}

#myblitzortung .bo_bo_logo {
width: 150px;
float: right;
display: block;
margin: 1px 0px 5px 5px;
}

/*** Statistics ***/

#myblitzortung #bo_statistics fieldset {
width: 540px;
}

#myblitzortung #bo_statistics fieldset legend {

}

#myblitzortung div#bo_network_stations_container {
height: 400px; 
width: 620px;
overflow: auto;
}

#myblitzortung table#bo_network_stations {
font-size: 10px;
border-spacing:1px;
background: #999;
width: 590px;
margin-left: 10px;
}

#myblitzortung table#bo_network_stations td, 
#myblitzortung table#bo_network_stations th {
padding: 1px 2px;
}

#myblitzortung table#bo_network_stations td {
background: #fff;
}

#myblitzortung table#bo_network_stations th {
background: #fd9;
}

#myblitzortung table#bo_network_stations td.bo_numbers {
text-align: right;
white-space:nowrap;
}

#myblitzortung table#bo_network_stations td.bo_marked {
background: #fd9 !important;
}

#myblitzortung table#bo_network_stations tr.bo_highlight td {
font-weight: bold;
background: #fea;
}

#myblitzortung ul.bo_stat_overview {
list-style-type: square;
color: red;
padding-left: 26px;
}

#myblitzortung ul.bo_stat_overview li {
margin:0;
padding: 0;
border-bottom: 1px dotted #e7e7e7;
width: 540px;
}

#myblitzortung ul.bo_stat_overview .bo_descr {
min-width: 250px;
display: inline-block;
white-space: nowrap;
color: #666;
}

#myblitzortung ul.bo_stat_overview .bo_value {
color: #666;
}

#myblitzortung .bo_general_description,
#myblitzortung .bo_graph_description,
#myblitzortung .bo_stat_description  {
font-size: 11px;
color: #444;
}

#myblitzortung .bo_graph_description,
#myblitzortung .bo_stat_description  {
width: 550px;
}

#myblitzortung .bo_general_description  {
width: 650px;
}


#myblitzortung .bo_map_gps {
margin-left: 10px;
}

/*** Graphs ***/
#myblitzortung .bo_graph_img {
margin-left: 10px;
border: 1px solid #f0f0f0;
}

/*** User ***/
#myblitzortung .bo_form_checkbox_text {
display: inline-block;
margin: 2px 5px 5px 0px;
}

#myblitzortung .bo_admin_user_fieldset .bo_form_submit {
display: block;
}

/*** Alerts ***/
#myblitzortung .bo_input_container {
margin: 8px 0px;
}
#myblitzortung .bo_input_container label {
margin-right: 10px;
}

#myblitzortung .bo_map_alert {
margin-right: 10px;
}

#myblitzortung #bo_login_submit {
display: block;
}

#myblitzortung #bo_stat_other_station_info {
font-size: 11px;
border: 1px solid #f88;
background: #fff;
color: #100;
padding: 5px;
width: 500px;
}

#myblitzortung #bo_infos p {
width: 550px;
}

#myblitzortung .bo_form_group {
white-space: nowrap;
padding-right: 10px;
}

#myblitzortung #bo_stat_network {
width: 620px;
}

#myblitzortung #bo_stat_network_stations_map {
float: right;
margin: 0px 0px 5px 5px;
}

#myblitzortung .bo_select_region {
width: 175px;
}

#myblitzortung .bo_strike_not_confirmed {
color:red;
font-weight:bold;
}

#myblitzortung a.bo_selected {
font-weight: bold;
font-size: 11px;
}

#myblitzortung #bo_livemap_select_periods {
margin-left: 15px;
}

#myblitzortung #bo_livemap_select_periods a {
font-size: 14px;
font-weight: bold;
margin-left: 9px;
}

#myblitzortung #bo_livemap_select_periods a.bo_selected {
color: red;
text-decoration:none;
}

#myblitzortung .bo_err_text {
color:red;
}