#
# Example status config file for MyBlitzortung
#
# Enable with:
#    define("BO_ENABLE_STATUS_FILES", true);
# in config.php and rename this file to status.cfg!
#
#
# Format of this config-file:
#
#    One line for each file!
#
#    <Filename>;<Save directory>;<Update trigger>
#
#      - Filename: The name of the file in the status directory
#
#      - Save directory: The folder, where the new file will be saved
#          * Relative to MyBlitzortung main directory
#          * Or absolute, when a leading slash is present!
#        Important: You have to set the correct permissions of the new file/the folder!
#
#      - Update trigger: On which update of MyBo data the new file is written.
#        Can be: "strikes", "stations" or "signals"
#
#
# Example:
#       example.txt;../html_folder/mywebpagedirectory;strikes
#
#
example.txt;status/test/;strikes
